.env
.venv/
venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.log
data/raw/m5/*
!data/raw/m5/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/synthetic_network/*
!data/synthetic_network/.gitkeep
data/outputs/*
!data/outputs/.gitkeep
assets/dashboard_screenshots/*
!assets/dashboard_screenshots/.gitkeep

